<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>
    <title>Kalakriti</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">Kalakriti</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="SignIn">SignIn</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">X</button>
            <ul>
                <li>
                    <a href="index.html">Tops</a>
                </li>
                <li>
                    <a href="index.html">Bottoms</a>
                </li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Angrakha</a>
                            </div>
                            <div class="product-brand">FabIndia</div>
                            <div class="product-price">600rs</div>
                            <div class="product-rating">4.5 Stars (10 reveiws)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Angrakha</a>
                            </div>
                            <div class="product-brand">FabIndia</div>
                            <div class="product-price">600rs</div>
                            <div class="product-rating">4.5 Stars (10 reveiws)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Angrakha</a>
                            </div>
                            <div class="product-brand">FabIndia</div>
                            <div class="product-price">600rs</div>
                            <div class="product-rating">4.5 Stars (10 reveiws)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Angrakha</a>
                            </div>
                            <div class="product-brand">FabIndia</div>
                            <div class="product-price">600rs</div>
                            <div class="product-rating">4.5 Stars (10 reveiws)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Angrakha</a>
                            </div>
                            <div class="product-brand">FabIndia</div>
                            <div class="product-price">600rs</div>
                            <div class="product-rating">4.5 Stars (10 reveiws)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Angrakha</a>
                            </div>
                            <div class="product-brand">FabIndia</div>
                            <div class="product-price">600rs</div>
                            <div class="product-rating">4.5 Stars (10 reveiws)</div>
                        </div>
                    </li>

                </ul>
            </div>
        </main>
        <footer class="footer">
            All rights reserved
        </footer>

    </div>

</body>

</html>